.hero {
  height: 100vh;
  position: relative;
  color: var(--first-color);
  display: flex;
  flex-direction: column;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../images/ABOUT\ US\ BG.png') no-repeat center center / cover;
  transform: scale(1.1) translateY(40px);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease;
  z-index: 1;
}

.hero.animate::before {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  z-index: 5;
  position: relative;
}

.hero-content h1 {
  font-family: var(--font-header);
  margin-top: 4rem;
  font-size: var(--hero-header-size);
  line-height: 1.2;
}

.hero-content span {
  font-weight: bold;
}

.hero-content p {
  font-family: var(--font-body);
  margin: 1rem 0;
  font-size: var(--hero-body-size);
  line-height: 40px;
}


.hero-content h1,
.hero-content p{
  opacity: 0;
  transform: translateY(40px);
}


.hero.animate .hero-content h1 {
  animation: heroTextFade 1s ease forwards;
  animation-delay: 0.6s;
}

.hero.animate .hero-content p {
  animation: heroTextFade 1s ease forwards;
  animation-delay: 0.9s;
}

@keyframes heroTextFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}







.history {
  padding: 80px 10%;
  display: flex;
  justify-content: center;
}

.history-content {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}


.history-text {
  flex: 1;
  color: var(--third-color);
}

.history-text h2 {
  font-size: var(--header-section-size);
  font-family: var(--font-header);
  color: var(--third-color);
  margin-bottom: 1rem;
}

.history-text p {
  font-family: var(--font-body);
  font-size: var(--body-section-size);
  text-align: justify;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.btn-learn {
  font-size: var(--body-section-size);
  font-family: var(--font-body);
  background: var(--third-color);
  color: var(--first-color);
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.btn-learn:hover {
  background: var(--second-color);
  color: var(--third-color);
}

.extra-text {
  display: none;
  margin-top: 1rem;
  animation: fadeIn 0.5s ease-in-out;
}

.extra-text h2 {
  font-family: var(--font-header);
  font-size: var(--header-section-size);
  color: var(--third-color);
  margin-bottom: 1rem;
}

.extra-text p {
  font-family: var(--font-body);
  font-size: var(--body-section-size);
  text-align: justify;
  font-weight: 500;
  color: var(--third-color);
  line-height: 1.6;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mv-section {
  position: relative;
  background-color: var(--first-color);
  padding: 80px 10%;
  overflow: hidden;
  margin-bottom: 5rem;
}


.mv-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
  position: relative;
  z-index: 1;
}

.mv-card {
  background-color: var(--third-color);
  color: var(--first-color);
  padding: 40px;
  border-radius: 15px;
}

.mv-card h3 {
  font-size: 2rem;
  font-family: var(--font-header);
  margin-bottom: 15px;
  color: var(--first-color);
}

.mv-card p {
  font-family: var(--font-body);
  text-align: justify;
  font-size: 1rem;
  line-height: 30px;
}

.mv-card ul {
  font-family: var(--font-body);
  font-size: 1rem;
  list-style: disc inside;
  line-height: 1.8;
}



.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}