
.hero {
  height: 100vh;
  position: relative;
  color: var(--first-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../images/BG.png') no-repeat center center / cover;
  transform: scale(1.1) translateY(40px);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease;
  z-index: 1;
}

.hero.animate::before {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  z-index: 5;
  position: relative;
}

.hero-content h1 {
  font-family: var(--font-header);
  margin-top: 4rem;
  font-size: var(--hero-header-size);
  line-height: 1.2;
}

.hero-content span {
  font-weight: bold;
}

.hero-content p {
  font-family: var(--font-body);
  margin: 1rem 0;
  font-size: 1.2rem;
}

.hero-buttons {
  font-size: var(--hero-body-size);
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}



.hero-content h1,
.hero-content p,
.hero-buttons {
  opacity: 0;
  transform: translateY(40px);
}


.hero.animate .hero-content h1 {
  animation: heroTextFade 1s ease forwards;
  animation-delay: 0.6s;
}

.hero.animate .hero-content p {
  animation: heroTextFade 1s ease forwards;
  animation-delay: 0.9s;
}

.hero.animate .hero-buttons {
  animation: heroTextFade 1s ease forwards;
  animation-delay: 1.2s;
}


@keyframes heroTextFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.btn-outline {
  font-family: var(--font-body);
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  background: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  transition: 0.5s ease;
}

.btn-outline:hover {
  background-color: var(--first-color);
  color: var(--third-color);
}




.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}






.packages {
  position: relative;
  background-color: var(--first-color);
  color: var(--third-color);
  padding: 4rem 1rem;
  text-align: center;
  overflow: hidden;
}


.packages::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--first-color);
  z-index: 0;
}


.packages > * {
  min-height: 35vh;
  position: relative;
  z-index: 1;
}


.packages-header p {
  font-family: var(--font-body);
  font-size: var(--body-section-size);
  letter-spacing: 2px;
  color: var(--third-color);
  margin-bottom: 0.5rem;
}

.packages-header h2 {
  font-family: var(--font-header);
  font-size: var(--header-section-size);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

/* Cards layout */
.packages-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.package-card {
  position: relative;
  top: -5rem;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid var(--text-hover);
  width: 350px;
  height: 500px;
  transition: transform 0.3s ease;
  background: #000;
}

.package-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: filter 0.3s ease;
}

.package-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  margin-left: 11rem;
}

.package-overlay h3 {
  font-family: var(--main-font);
  transform: rotate(-90deg);
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 1rem 0.5rem;
  border-radius: 5px;
}


.package-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.package-card:hover img {
  filter: brightness(1);
}


.package-card {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active .package-card {
  opacity: 1;
  transform: translateY(0);
}

.reveal.active .package-card:nth-child(1) { transition-delay: 0.2s; }
.reveal.active .package-card:nth-child(2) { transition-delay: 0.4s; }
.reveal.active .package-card:nth-child(3) { transition-delay: 0.6s; }





.reviews {
  position: relative;
  color: var(--third-color);
  padding: 5rem 1rem;
  text-align: center;
  overflow: hidden;
  background-color: var(--fourth-color);
  min-height: 100vh;
}


.reviews::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--fourth-color);
  z-index: 0;
}


.reviews > * {
  position: relative;
  z-index: 1;
}

.reviews-header h2 {
  font-family: var(--font-header);
  font-size: var(--header-section-size);
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--third-color);
  margin-bottom: 3.50rem;
}

.reviews-header p {
  font-family: var(--font-body);
  font-size: var(--body-section-size);
  letter-spacing: 2px;
  color: var(--third-color);
  margin-bottom: 0.5rem;
}


.review-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  top: 1rem;
  margin: auto;
}


.review-card {
  font-family: var(--font-body);
  color: var(--third-color);
  max-width: 750px;
  width: 100%;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.stars {
  color: var(--text-hover);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.review-text {
  font-family: var(--font-header);
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  font-weight: bold;
}

.reviewer {
  margin-top: auto;
  text-align: center;
}


.reviewer span {
  display: block;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

/* Navigation buttons */
.nav-btn {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-primary);
  font-size: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: var(--text-hover);
  color: var(--color-secondary);
}













