@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-main: "Poppins", sans-serif;
    --first-color: #ffffff;
    --second-color: #FFE100;
    --third-color: #3C2A21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}


/*----------FOOTER CSS----------*/

.footer{
    font-family: var(--font-main);
    position: relative;
    background-color: var(--third-color);
    color: var(--color-primary);
    text-align: center;
    overflow: hidden;
    padding: 40px 20px;
}


.footer-content, .footer-bottom{
    position: relative;
    z-index: 1;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo img{
    width: 120px;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.footer-nav a{
    color: var(--first-color);
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s ease;
}

.footer-nav a:hover{
    color: var(--second-color);
}

.footer-socials{
    display: flex;
    gap: 20px;
}

.footer-socials a {
  color: var(--first-color);
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}

.footer-socials a:hover {
  color: var(--second-color);
}

.footer-bottom {
  margin-top: 30px;
}

.footer-bottom hr {
  border: 0;
  border-top: 1px solid var(--first-color);
  margin-bottom: 15px;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #ccc;
}